In [129]:
import re
import demoji
import emoji
import warnings

import pandas as pd
import numpy as np

from bs4 import BeautifulSoup

warnings.filterwarnings("ignore")
pd.set_option("display.max_columns", None)

In [130]:
df_tweets = pd.read_csv("others_dataset.csv")

In [131]:
# df_tweets["un_no_of_char"] = ""
# df_tweets["un_special_char"] = ""
# df_tweets["un_uppercase"] = ""
# df_tweets["name_no_of_char"] = ""
# df_tweets["name_special_char"] = ""
# df_tweets["name_uppercase"] = ""
# df_tweets["des_no_of_usertags"] = ""
# df_tweets["des_no_of_hashtags"] = ""
# df_tweets["des_external_links"] = ""

In [132]:
df_tweets

,id,name,username,created_at,verified,location,description,followers_count,following_count,tweet_count,account_type,url
0,787405734442958848,The Best In Dumbest,best_in_dumbest,2016-10-15T21:32:11.000Z,False,NaN,"Blame @MoistHorse, Inspired by @MakingInvisibl...",1997,5,17090,bot,https://t.co/FpAstfF67l
1,787405734442958848,The Best In Dumbest,best_in_dumbest,2016-10-15T21:32:11.000Z,False,NaN,"Blame @MoistHorse, Inspired by @MakingInvisibl...",1997,5,17090,bot,https://t.co/pw6xYLUph5
2,787405734442958848,The Best In Dumbest,best_in_dumbest,2016-10-15T21:32:11.000Z,False,NaN,"Blame @MoistHorse, Inspired by @MakingInvisibl...",1997,5,17090,bot,https://t.co/XYsPhTkcDX
3,787405734442958848,The Best In Dumbest,best_in_dumbest,2016-10-15T21:32:11.000Z,False,NaN,"Blame @MoistHorse, Inspired by @MakingInvisibl...",1997,5,17090,bot,https://t.co/yyadIxV48k
4,787405734442958848,The Best In Dumbest,best_in_dumbest,2016-10-15T21:32:11.000Z,False,NaN,"Blame @MoistHorse, Inspired by @MakingInvisibl...",1997,5,17090,bot,https://t.co/WJxZL1TkfM
...,...,...,...,...,...,...,...,...,...,...,...,...
88127,524121160,차학연 VIXX_N,CHA_NNNNN,2012-03-14T07:48:21.000Z,True,별빛이 있는 곳,NaN,803247,7,3159,human,https://t.co/kfFSga83RW
88128,524121160,차학연 VIXX_N,CHA_NNNNN,2012-03-14T07:48:21.000Z,True,별빛이 있는 곳,NaN,803247,7,3159,human,https://t.co/VS3mHXkZYU
88129,524121160,차학연 VIXX_N,CHA_NNNNN,2012-03-14T07:48:21.000Z,True,별빛이 있는 곳,NaN,803247,7,3159,human,https://t.co/hhfB4q2GkD
88130,524121160,차학연 VIXX_N,CHA_NNNNN,2012-03-14T07:48:21.000Z,True,별빛이 있는 곳,NaN,803247,7,3159,human,https://t.co/h5kv3eJ5Il
88131,524121160,차학연 VIXX_N,CHA_NNNNN,2012-03-14T07:48:21.000Z,True,별빛이 있는 곳,NaN,803247,7,3159,human,https://t.co/ZfG2oqGCGy

In [133]:
def url_text(df):
    pattern = r'(https?:\/\/(?:www\.)?[-a-zA-Z0-9@:%._+~#=]{1,256}\.[a-zA-Z0-9()]{1,6}[-a-zA-Z0-9()@:%_+.~#?&/=]*)' 
    df['url'] = df["uncleaned_text"].str.extract(pattern, expand=True)
    return df

def username(df):
    special_char = re.compile('[@_!#$%^&*()<>?/\|}{~:]')
    df["un_no_of_char"] = df["username"].apply(lambda x: len(str(x)))
    df["un_special_char"] = df["username"].apply(lambda x: special_char.search(str(x)) != None)
    df["un_uppercase"] = df["username"].apply(lambda x: bool(re.match(r'\w*[A-Z]\w*', str(x))))
    return df

def name(df):
    special_char = re.compile('[@_!#$%^&*()<>?/\|}{~:]')
    df["name_no_of_char"] = df["name"].apply(lambda x: len(str(x)))
    df["name_special_char"] = df["name"].apply(lambda x: special_char.search(str(x)) != None)
    df["name_uppercase"] = df["name"].apply(lambda x: bool(re.match(r'\w*[A-Z]\w*', str(x))))
    return df

def description(df):
    user_tags = re.compile('[@]')
    hastags = re.compile('[#]')
    links = r'(https?:\/\/(?:www\.)?[-a-zA-Z0-9@:%._+~#=]{1,256}\.[a-zA-Z0-9()]{1,6}[-a-zA-Z0-9()@:%_+.~#?&/=]*)'
    df["des_no_of_usertags"] = df["description"].apply(lambda x: str(x).count('@'))
    df["des_no_of_hashtags"] = df["description"].apply(lambda x: str(x).count('#'))
    df["des_external_links"] = df["description"].apply(lambda x: re.findall(links, str(x)) != [])
    return df

def location(df):
    df["location"] = df_tweets["location"].isna()
    return df

In [134]:
df_tweets = username(df_tweets)
df_tweets = name(df_tweets)
df_tweets = description(df_tweets)
df_tweets = location(df_tweets)

In [135]:
new_df_tweets = df_tweets.drop(columns=["name", "username", "description", "url"])

In [136]:
new_df_tweets

,id,created_at,verified,location,followers_count,following_count,tweet_count,account_type,un_no_of_char,un_special_char,un_uppercase,name_no_of_char,name_special_char,name_uppercase,des_no_of_usertags,des_no_of_hashtags,des_external_links
0,787405734442958848,2016-10-15T21:32:11.000Z,False,True,1997,5,17090,bot,15,True,False,19,False,True,2,0,False
1,787405734442958848,2016-10-15T21:32:11.000Z,False,True,1997,5,17090,bot,15,True,False,19,False,True,2,0,False
2,787405734442958848,2016-10-15T21:32:11.000Z,False,True,1997,5,17090,bot,15,True,False,19,False,True,2,0,False
3,787405734442958848,2016-10-15T21:32:11.000Z,False,True,1997,5,17090,bot,15,True,False,19,False,True,2,0,False
4,787405734442958848,2016-10-15T21:32:11.000Z,False,True,1997,5,17090,bot,15,True,False,19,False,True,2,0,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88127,524121160,2012-03-14T07:48:21.000Z,True,False,803247,7,3159,human,9,True,True,10,True,False,0,0,False
88128,524121160,2012-03-14T07:48:21.000Z,True,False,803247,7,3159,human,9,True,True,10,True,False,0,0,False
88129,524121160,2012-03-14T07:48:21.000Z,True,False,803247,7,3159,human,9,True,True,10,True,False,0,0,False
88130,524121160,2012-03-14T07:48:21.000Z,True,False,803247,7,3159,human,9,True,True,10,True,False,0,0,False
88131,524121160,2012-03-14T07:48:21.000Z,True,False,803247,7,3159,human,9,True,True,10,True,False,0,0,False

In [137]:
new_df_tweets.to_csv("updated_others_dataset.csv", index = False)